{% extends 'base.html.twig' %}

{% block title %}Hello UsuariosController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/TFG/SimfonyTickets/src/Controller/UsuariosController.php'|file_link(0) }}">src/Controller/UsuariosController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/TFG/SimfonyTickets/templates/usuarios/index.html.twig'|file_link(0) }}">templates/usuarios/index.html.twig</a></code></li>
    </ul>

    {% if is_granted('ROLE_USER') %}
        <h2> Si estas viendo esto estas logeado como: ' {{app.user.nombre}} '!! wiiiii  </h2>
    {% endif %}


    {{ form(form) }}

    {# {{ form_start(form) }}


    {{ form_end(form) }} #}
</div>
{% endblock %}
