{% extends 'base.html.twig' %}
{% block title %}SYMFONYTICKETS
{% endblock %}

{% block body %}


  <div class="container">
    <div class="row">
{% for evento in eventos %}

    <div class="col-4">
      <div class="card" style="width: 18rem;">
        {# <img src="{{ absolute_url(asset('public/images/eventos/' ~ evento.imagen))}}" class="card-img-top" alt="..."> #}
        <img src="{{'./images/eventos/' ~ evento.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{evento.nombre}}</h5>
          <p class="card-text">{{evento.descripcion}}</p>
          <a href="{{path('app_buyEvento',{id : evento.id }) }}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  
{% endfor %}
</div>
  </div>

{% endblock %}